<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDoYou</title>
  </head>
  <body>
    <form class="form" action="index.html" method="post">
      <input type="text" name="todo" value="" placeholder="Add a to do...">
      <button type="submit" name="button"></button>
    </form>
  </body>
</html>
