* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150vh;
}

h1 {
	margin: 20px;
}

h6 {
	margin-bottom: 20px;
}

.new-list,
.old-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
	margin: 25px;
	padding: 20px;
	border: 2px inset PowderBlue;
	max-height: 500px;
}

.text {
	width: 100%;
	text-align: center;
}

form {
	width: 100%;
	display: flex;
	justify-content: center;
}

input {
	height: 30px;
	width: 30%;
}

.todo-item {
	width: 30%;
	background-color: PowderBlue;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
	border-radius: 20px;
	color: black;
}

.comp-item {
	width: 30%;
	background-color: pink;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
	border-radius: 20px;
	color: black;
}
